body {
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: darkseagreen;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;     /* 垂直居中 */
}

.window {
  width:450px;
  height: 350px;
  border:solid black 1px;
  background: whitesmoke;
  display: flex;
  justify-content: center; /* 水平居中 */
  flex-direction: row;
  flex-wrap: wrap;
}

.upbox {
  margin-top: 40px;
}

.box {
  margin-top:10px;
  width:100%;
  height: 60px;
  display: flex;
  justify-content: center; /* 水平居中 */
}

.input {
  width : 200px;
  height: 50px;
}
